.menu-bar {
    display: flex;
    align-items: center;
  }
  
  .menu-item {
    margin: 0 10px;
    cursor: pointer;
  }
  
  .dropdown {
    position: absolute;
    background-color: lightgrey;
    padding: 10px;
    z-index: 99999;
    border: 1px;
    border-radius: 10px;
  }
  
  .dropdown-item {
    cursor: pointer;

    &:hover{
      background-color: darkgrey;
    }
  }
  
  